#contact {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.con {
    font-family: "Lato", sans-serif;
    font-size: 3em;
    padding:3px;
    /* padding: 2rem; */
    /* justify-content: space-between; */
    /* text-align: center; */
    /* color: rgb(0, 0, 0); */
    /* color: rgb(123, 47, 47); */
    color: rgb(36,33,35);
    text-shadow: -3px -3px 0 rgb(71,209,204), 3px -3px 0 rgb(71,209,204), -3px 3px 0 rgb(71,209,204), 3px 3px 0 rgb(71,209,204);
    /* text-shadow: -3px -3px 0 rgb(106, 104, 104), 3px -3px 0 rgb(106, 104, 104), -3px 3px 0 rgb(106, 104, 104), 3px 3px 0 rgb(106, 104, 104); */
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6; */
    /* animation: neon 3s linear infinite; */
  }
  
  .con:hover {
    color:rgb(143,219,214);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    animation: neon 3s linear infinite;
}

@keyframes neon {
  50% {
    opacity: 1;
  }
}

.con-title {
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}


.resume {
    font-size: 2rem;
    color: white;
}

.email {
    font-size: 3rem;
    color: rgb(36,33,35);
    text-shadow: -1px -1px 0 rgb(71,209,204), 1px -1px 0 rgb(71,209,204), -1px 1px 0 rgb(71,209,204), 1px 1px 0 rgb(71,209,204);
}

@media (max-width: 680px) {
  .email {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .email {
    font-size: 1.5rem;
  }

  .con {
    font-size: 1.8em;
  }
}